{
  // @babel/preset-env is going to figure out automatically 
  // has some default settings of what the kinda latest browser support,
  // how much backward compatibility we should have
  // it is sort of reasonable based on usage statics on the web.

  // check documentation but one of useBuiltIns's option is "entry", other one is "usage"
  "presets": [["@babel/preset-env", {
    "debug": true,
    "useBuiltIns": "usage",
    "corejs": 3.20
    }
  ]]
}